/* Header -------------------------------------------------------------*/
html {
    padding: 16px;
}

nav {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    max-height: 4rem;
    
}

.right-nav-bar {
    background-color: rgb(8, 181, 60);
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    /* padding-right: 20px; */
}

.right-nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 6px;

    
}

#logo-img {
    max-height: -webkit-fill-available;
}

#welcome-msg {
    font-size: 42px;
    
}

.user a, 
.guest a {
    text-decoration: none;
}

.user {
    background-color: lightgoldenrodyellow;
}
.guest {
    background-color: lightblue;
}


/* Main -------------------------------------------------------------*/
main {
    background-color: lightgreen;
}

#dayly-promo-text,
#week-promo-text {
    font-size: 50px;
    min-height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.daily-promo {
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
}



#dayly-promo-text {
    background-color: red;


}



.week-promo {
    background-color: lawngreen;
    display: flex;
    justify-content: space-evenly;
}

#week-promo-text {
    background-color: grey;

}

main article {
    /* width: 24%; */
    text-align: center;

}

/* Footer -------------------------------------------------------------*/

footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
}

footer section {
    /* width: 30% */
}

#info {
     width: 30%
}