/* Header -------------------------------------------------------------*/
html {
    padding: 16px;
}

nav {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    max-height: 4rem;
    
}

.right-nav-bar {
    background-color: rgb(8, 181, 60);
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    /* padding-right: 20px; */
}

#logo-img {
    max-height: -webkit-fill-available;
}

#welcome-msg {
    font-size: 42px;
    
}


/* Main -------------------------------------------------------------*/
main {
    background-color: lightgreen;
}

.daily-promo {
    background-color: lightcyan;
    display: flex;
    justify-content: space-evenly;
}
.week-promo {
    background-color: lawngreen;
    display: flex;
    justify-content: space-evenly;
}

main article {
    /* width: 24%; */
    text-align: center;

}

/* Footer -------------------------------------------------------------*/

footer {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
}

footer section {
    /* width: 30% */
}

#info {
     width: 30%
}